/* keep me */
body {
    font-family: Metropolis, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    border: 4px solid;
    padding: 20px;
    width: 400px;
    text-align: center;
    color: #6db33f;
    border-radius: 20px;
}

.btn {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 0;
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
    font-weight: bold;
    overflow:hidden;
    position: relative;
    text-decoration: none;
    color: black;


    display: inline-block;
    font-size: .9rem;
    line-height: 20px;
    z-index: 0;
}
.btn:hover {
    color: white;
    text-decoration: none;
}

.btn:before {
    background-color:black;
    bottom:-1px;
    content:"";
    left:-1px;
    position:absolute;
    right:-1px;
    top:-1px;
    -webkit-transform:translateX(-101%);
    transform:translateX(-101%);
    transition:.2s ease-in-out;
    z-index:-1;
}
.btn:before:hover {
    color: black;
    text-decoration:none;
}
.btn:hover:before {
    -webkit-transform:translateX(0);
    transform:translateX(0);
}