<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>🔐 Private Page [Spring Sec: The Good Parts]</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
</head>
<body>
	<h1>VIP section 🥳🎉🎊</h1>
	<p>Hello, ~[<th:block th:text="${name}" />]~ !</p>
	<p>You are on the very exclusive private page.</p>
	<p></p>
	<form method="post" action="/logout" th:if="${_csrf != null}">
		<input name="_csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<button class="btn" type="submit">Log out</button>
	</form>
</body>
</html>